<ion-header>
  <ion-toolbar>
    <ion-title>Reset your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="resetPasswordForm">
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input
          formControlName="email"
          type="email"
          placeholder="Your email address"
          [class.invalid]="isEmailFieldInvalid()">
      </ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="isEmailFieldInvalid()">
      <ion-label>Please enter a valid email address.</ion-label>
    </ion-item>

    <ion-button (click)="resetPassword()" expand="block" [disabled]="!resetPasswordForm.valid">
      Reset your Password
    </ion-button>
  </form>
</ion-content>
